<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header ('Order History')"></head>

<body>
    <div th:insert="fragments/navbar"></div>

    <div class="py-3 mx-auto text-center">
        <h1 class="display-4">Order History</h1>
    </div>

    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Order</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.readableOrderDate()}"></td>
                    <td th:text="${order.getDetails()}"></td>
                    <td th:text="${order.getTotalPrice()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>