<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department</title>
</head>

<body>
<a th:href="@{/logout}">Logout</a>
<form method="POST" th:action="@{/department}" th:object="${department}">
    <h1>Department Form</h1>
    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
    </div>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<input type="hidden" th:field="*{id}" />
    <label for="name">Name: </label>
    <input id="name" type="text" th:field="*{name}"/>
    <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    <br/>

    <input type="submit" value="Save Department"/>
</form>

<table>
    <tr>
        <th>Department Id</th>
        <th>Department Name</th>
        <th>Action</th>
    </tr>
    <tr th:each="department : ${departments}">
        <td th:text="${department.id}"></td>
        <td th:text="${department.name}"></td>
        <td><a th:href="@{'/department/edit/' + ${department.id}}">Edit</a></td>
    </tr>
</table>

</body>
</html>
