<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<body>
    <h1>Error occurred</h1>

    <p>
        This is a generic error page when error page not found at /public/error/ directory
    </p>

    <table>
        <tr>
            <td>Date</td>
            <td th:text="${timestamp}"></td>
        </tr>
        <tr>
            <td>Path</td>
            <td th:text="${path}"></td>
        </tr>
        <tr>
            <td>Error</td>
            <td th:text="${error}"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td th:text="${status}"></td>
        </tr>
        <tr>
            <td>Message</td>
            <td th:text="${message}"></td>
        </tr>
        <tr>
            <td>Exception</td>
            <td th:text="${exception}"></td>
        </tr>
        <tr>
            <td>Trace</td>
            <td>
                <pre th:text="${trace}"></pre>
            </td>
        </tr>
    </table>
</body>
</html>