<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department</title>
</head>

<body>

<form method="POST" th:object="${department}">
    <h1>Department Form</h1>
    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
    </div>

    <label for="name">Name: </label>
    <input id="name" type="text" th:field="*{name}"/>
    <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    <br/>

    <input type="submit" value="Save Department"/>
</form>

<table>
    <tr>
        <th>Department Id</th>
        <th>Department Name</th>
    </tr>
    <tr th:each="department : ${departments}">
        <td th:text="${department.id}"></td>
        <td th:text="${department.name}"></td>
    </tr>
</table>

</body>
</html>
