<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Employee</title>
</head>

<body>
<a th:href="@{/logout}">Logout</a>
<form method="POST" th:object="${employee}">
  <h1>Employee Form</h1>
  <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
  </div>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <label for="name">Name: </label>
  <input id="name" type="text" th:field="*{name}"/>
  <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
  <br/>

  <label for="address">Address: </label>
  <input id="address" type="text" th:field="*{address}"/>
  <span class="validationError" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</span>
  <br/>

	<label for="department">Departments: </label>
  <select id="department" th:field="*{department}">
    <option th:each="dept : ${departments}" th:value="${dept.id}" th:text="${dept.name}"></option>
  </select>
<br/>
  <input type="submit" value="Save Employee"/>
</form>

<table>
  <tr>
    <th>Employee Id</th>
    <th>Employee Name</th>
    <th>Employee Address</th>
  </tr>
  <tr th:each="employee : ${employees}">
    <td th:text="${employee.id}"></td>
    <td th:text="${employee.name}"></td>
    <td th:text="${employee.address}"></td>
  </tr>
</table>

</body>
</html>
