<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:fragment="navbar" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a th:href="${#mvc.url('home').build()}" style="text-decoration: none">BJIT Canteen</a></h5>
    <a sec:authorize="isAuthenticated()" class="btn btn-outline-danger" href="/logout">Sign out</a>
    <a sec:authorize="isAnonymous()" class="btn btn-outline-primary" href="/login">Sign in</a>
</div>
